.mmodal{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-grey-1-opacity-5);   
}

.caixaModal{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 50px;
    width: 528px;
    height: 450px;
    background-color: var(--fixed-white);
    position: relative;
    border-radius: 5px;
}



.tag2{
    margin-right: 16px;
    width: 100px;
    border: none;
    border-radius:4px;
    Padding:5px 10px;
    background-color: var(--color-grey-4);
    color: var(--color-grey-1);
    }
    
    .cancelarInserir{
        display: flex;
       justify-content: end;
       
    }

.MD1{
    display: flex;
    justify-content: space-between;
}

.MD4{
    display: flex;
    align-items: center;
}
.MD4 p{
    font-weight: 500;
}

.MD5{
    display: flex;
    justify-content: flex-end;
}

.MD5 button{
    margin-left: 20px;
    
}